h1 {
  color: #F63A61;
  font-family: 'Josefin Sans', cursiva;
  padding: 0.15em 0.15em 0.15em 1em;
  text-align: center;
}

h2 {
  font-family: 'Josefin Sans', cursiva;
  text-decoration: none;
  color: #F63A61;
  text-align: center;
}

.conteudo {
  font-family: 'Josefin Sans', cursive;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

p {
  padding: 15px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: x-large;
}

ul {
  padding-left: 0;

}

li {
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  list-style: none;
  text-align: center;
}

.cefetmg {
  margin-top: 45px;
}

a {
  text-decoration: none;
  color: #F63A61;
}

a:hover {
  color: #9234d1;
  font-weight: bold;
}

.desenvolvimento {
  width: 150px;
}

.inf {
  width: 150px;
}

.informaticaparainternet {
  width: 150px;
}

.redes {
  width: 150px;
}

.engenharia {
  width: 150px;
}

.imagens-cursos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
}

a {
  color: #F63A61;
  font-family: 'Josefin Sans', cursiva;
  font-size: larger;
}

.desenvolvimento-de-sistemas,
.informatica,
.informatica-para-internet,
.redes-de-computadores,
.engenharia-de-computacao {
  border-radius: 3px;
  box-shadow: 3px 3px 3px #0003;
  border: 1px solid pink;
  transition: all 400ms ease-out;
  text-align: center;
  padding: 0.5em;
  flex-direction: column;
}

.desenvolvimento-de-sistemas:hover,
.informatica:hover,
.informatica-para-internet:hover,
.redes-de-computadores:hover,
.engenharia-de-computacao:hover {
  transform: scale(1.1);
}

.desenvolvimento,
.inf,
.informaticaparainternet,
.redes,
.engenharia {
  border-radius: 3px;
  justify-content: center;
}

.informacoes {
  background-color: aqua;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #0003;
  border: 1px solid aqua;
  transition: all 400ms ease-out;
  text-align: center;
  padding: 0.5em;
}

.informacoes:hover {
  transform: scale(1.1);
}

@media all and (max-width: 500px) {

  .conteudo {
    flex-direction: column;
    align-items: center;
  }

  p {
    text-align: justify;
  }

}