h1 {
    color: #F63A61;
    font-family: 'Josefin Sans', cursiva;
    padding: 0.15em 0.15em 0.15em 1em;
    text-align: center;
  }

.conteudo {
  font-family: 'Josefin Sans', cursive;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

p {
  padding: 15px;
  font-family: 'Josefin Sans', cursive;
  color: black;
  font-size: x-large;
}

.cefetmg {
  margin-top: 45px;
}

a {
  text-decoration: none;
  color: #F63A61;
 }

 a:hover {
  color: #F63A61;
  font-weight: bold;
  }