html,
body {
  min-height: 100%;
  background-color: #FFFAEB;
  margin: 0;
}
header {
background: linear-gradient(90deg, rgb(73, 152, 243), rgb(198, 61, 248), rgb(140, 27, 189));
box-shadow: #0002 0px 4px 5px;
display: flex;
justify-content: center;
padding: 15px;
flex-wrap: wrap;
flex-direction: row;
}  
#menu-principal ul {
  padding-left: 0;
}
#menu-principal li {
list-style: none;
}  
#menu-principal a {
text-decoration: none;
color: white;
} 
#menu-principal a:hover {
color: #fbfbfb;
font-weight: bold;
}
.logosite {
width: 90px;
border-radius: 50%;
border: 1px dashed #F63A61;
padding: 8px;
filter: hue-rotate(228deg);
background-image: linear-gradient(120deg, #ffffff70, #ffffff00);  
}
#menu-principal {
font-family: 'Josefin Sans', cursiva;
color: white;
font-size: large;
text-align: center;
padding: 14px;
margin: 0px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
overflow: hidden;   
}      
#menu-principal::after {
width: 100%;
height: 2px;
}

@media all and (max-width: 500px) {

  #menu-principal {
    flex-direction: column;
    align-items: center;

  }
  #menu-principal ul{
    padding-left: 0;
  }
  #menu-principal li{
    padding: 0 10px;
  }
 }